@{
    ViewData["Title"] = "Morsley UK Mobile API";
}

<div class="text-center">

    @if (ViewBag.IsKeyVaultHealthy)
    {
        <partial name="_DisplayMessage" model='new DisplayMessage { Message = "Key Vault connection OK", Type = MessageType.Good, Details = ViewBag.KeyVaultDetails }' />
    }
    else
    {
        <partial name="_DisplayMessage" model='new DisplayMessage { Message = "There appears to be a Key Vault issue", Type = MessageType.Bad }' />
    }

    @if (ViewBag.IsCosmosDbHealthy)
    {
        <partial name="_DisplayMessage" model='new DisplayMessage { Message = "Cosmos DB connection OK", Type = MessageType.Good, Details = ViewBag.CosmosDbDetails }' />
    }
    else
    {
        <partial name="_DisplayMessage" model='new DisplayMessage { Message = "Cosmos DB connection FAILED", Type = MessageType.Bad }' />
    }

</div>